.boby{
    background-color: darkgrey;
}
.main-btn{
    background-color: chartreuse;
    border-radius: 5px;
}
.box {
    background-color: rgb(99, 221, 119);
    border-radius: 10px;
}
.box-comment{
    background-color:lightblue;
    border-radius: 10px;
}
